<%- include('../partials/admin/header.ejs') %>

<%- include('../partials/admin/nav.ejs') %>


<% if(admin.length < 0) {%>

    <h3 class="errorHeader" id="notUser">This Application has no Admin yet yet</h3>
    <button class="errorButton btn btn-outline-info"  onclick="history.back()"> BACK</button>

<% } else { %>
    <h1 class="userHeader">Utopia Admins</h1>
    <main class="container-fluid homePage">
        <div class="row">
            <% admin.forEach(item => { %>
          <div class="col-md-4">
            <div class="card homeCard" style="width:350px">
              <img class="card-img-top " id="adminUserImage" src="<%= item.image %>" alt="Card image">
              <div class="card-body">
                <p class="card-title">NAME : <%= item.userName %></p>
                <p class="card-text"> EMAIL : <%= item.email %></p>
                <aside class="buttonUser">
                    <form action="/admin/removeAdmin/<%= item._id %>?_method=PUT" method="POST">
                       <button type="submit" class="btn btn-outline-info">Remove As Admin</button>
                   </form>
               </aside>

              </div>
            </div>
          </div>
          <% }) %>
        </div>
    </main>



<% } %>


<%- include('../partials/admin/footer.ejs') %>