<%- include('../partials/admin/header.ejs') %>

<%- include('../partials/admin/nav.ejs') %>

<% if(users.length < 0) {%>

    <h3 class="errorHeader" id="notUser">Hello Admin, This Application has no users yet</h3>
    <button class="errorButton btn btn-outline-info"  onclick="history.back()"> BACK</button>

<% } else { %>
    <h1 class="userHeader">Utopia Registered Users</h1>
    <section class="userSection">

    
    <% users.forEach(item => { %>

        <section>
            <p> NAME : <%= item.userName %></p>
            <p> EMAIL : <%= item.email %></p>
            <img src="<%= item.image %>" alt="">
            <p> Admin Status :  <%= item.adminStatus %></p>

            <%  if( item.adminStatus ) { %>
             <form action="/admin/updateAdmin/<%= item._id %>?_method=PUT" method="POST">
                <button type="submit" class="btn btn-outline-danger">Widthdraw Admin</button>
            </form>
            <% } else { %>

                <form action="/admin/ReverseAdmin/<%= item._id %>?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Make Admin</button>
                </form>

            <% } %>

            <form action="/admin/deleteUser/<%= item._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-info">Delete User</button>
            </form>
            
        </section>

    <% }) %>

    </section>

<% } %>



<%- include('../partials/admin/footer.ejs') %>