<%- include('../partials/admin/header.ejs') %>

<%- include('../partials/admin/nav.ejs') %>

<% function useComma(price) { %>
    <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>


<% if(items.length < 0) {%>

    <h3 class="errorHeader" id="notUser"> No Order Have been made yet</h3>
    <button class="errorButton btn btn-outline-info"  onclick="history.back()"> BACK</button>

<% } else { %>
    <% for(let i = 0; i < items.length; i++) { %> 
        <% const userAdd =  info.find(el => el.userId === items[i].userId) %>
            <% if(userAdd) { %>
                <p>found</p>
            <% } else { %>
                <p>not found</p>
            <% } %>
                <!-- <section class="orderItems">
                    <p><%= items[i].productName %></p>
                    <section class="orderItemsFlex">
                        <img src="<%= items[i].productImage %>" alt="My Cart">
                        <p><%= items[i].productDescription %></p>
        
                        <p><%= items[i].quantity %></p>
        
                         <% if(items[i].quantity === 1 ) { %>
                            <p>&dollar;<%= useComma(items[i].productPrice)  %></p>
                        <% } else { %>
                            <p>&dollar; <%= useComma(items[i].productPrice * items[i].quantity) %></p>
                        <% } %>
                    </section>
                </section> -->
          
        <% } %>

       
    

<% } %>

<% console.log(items.length) %>


<%- include('../partials/admin/footer.ejs') %>