<%- include('../partials/admin/header.ejs') %>

<%- include('../partials/admin/nav.ejs') %>

<% function useComma(price) { %>
    <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>


<% if(items.length < 0) {%>

    <h3 class="errorHeader" id="notUser"> No Order Have been made yet</h3>
    <button class="errorButton btn btn-outline-info"  onclick="history.back()"> BACK</button>

<% } else { %>
    <% counter = 1 %>
    <% for(let i = 0; i < items.length; i++) { %> 
        <% const userAdd =  info.find(el => el.userId.toString() === items[i].userId.toString()) %>
        <% const user = users.find(me => me._id.toString() === items[i].userId.toString()) %>
            <% if(userAdd) { %>
                <section class="orderItems container">
                    <p><%=  counter ++ %>.</p>
                    <span>Name : </span> <p><%= items[i].productName %></p>
                    <section class="orderItemsFlex">
                        <img src="<%= items[i].productImage %>" alt="My Cart">
                       <span>Description : </span> <p><%= items[i].productDescription %></p>
        
                        <span>Quality : </span><p><%= items[i].quantity %></p>
        
                         <% if(items[i].quantity === 1 ) { %>
                            <span>Price : </span><p>&dollar;<%= useComma(items[i].productPrice)  %></p>
                        <% } else { %>
                            <span>Price : </span><p>&dollar; <%= useComma(items[i].productPrice * items[i].quantity) %></p>
                        <% } %>
                    </section>
                    <span>Customer Name : </span><p><%= user.userName  %></p>
                    <span>Customer Email : </span><p><%= user.email  %></p>
                    <span>Customer Address : </span><p><%= userAdd.address  %></p>
                    <span>Customer Phone Number : </span><p><%= userAdd.phoneNo  %></p>
                    <span>Customer Landmark Address : </span><p><%= userAdd.landmark  %></p> 

                    <section class="orderButton">
                        <form action="/admin/pending/<%= items[i]._id %>?method=PUT" method="POST">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingInput" name="status">
                                        <option>Select Tracking Status</option>
                                        <option value="pending">Pending</option>
                                        <option value="Shipped">Shipped</option>
                                        <option value="pickUp">Ready for Pick up</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-danger">Send Tracking status</button>
                        </form>
                    </section>
                </section>
            <% } else { %>
                <section class="orderItems">
                    <p><%= items[i].productName %></p>
                    <section class="orderItemsFlex">
                        <img src="<%= items[i].productImage %>" alt="My Cart">
                        <p><%= items[i].productDescription %></p>
        
                        <p><%= items[i].quantity %></p>
        
                         <% if(items[i].quantity === 1 ) { %>
                            <p>&dollar;<%= useComma(items[i].productPrice)  %></p>
                        <% } else { %>
                            <p>&dollar; <%= useComma(items[i].productPrice * items[i].quantity) %></p>
                        <% } %>
                    </section>
                </section>
                <p>No address found
                </p>
            <% } %>
                
          
        <% } %>

       
    

<% } %>

<% console.log(items.length) %>


<%- include('../partials/admin/footer.ejs') %>