<%- include('../partials/admin/header.ejs') %>

<%- include('../partials/admin/nav.ejs') %>

<% function useComma(price) { %>
    <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>


<% if(items.length < 0) {%>

    <h3 class="errorHeader" id="notUser"> No Order Have been made yet</h3>
    <button class="errorButton btn btn-outline-info"  onclick="history.back()"> BACK</button>

<% } else { %>
    <% for(let i = 0; i < items.length; i++) { %> 
        <% const userAdd =  info.find(el => el.userId.toString() === items[i].userId.toString()) %>
        <% const user = users.find(me => me._id.toString() === items[i].userId.toString()) %>
        <% console.log(user) %>
            <% if(userAdd) { %>
                <section class="orderItems">
                    <span>Name : </span> <p><%= items[i].productName %></p>
                    <section class="orderItemsFlex">
                        <img src="<%= items[i].productImage %>" alt="My Cart">
                       <span>Description : </span> <p><%= items[i].productDescription %></p>
        
                        <p>Quality : </p><p><%= items[i].quantity %></p>
        
                         <% if(items[i].quantity === 1 ) { %>
                            <p>Price : </p><p>&dollar;<%= useComma(items[i].productPrice)  %></p>
                        <% } else { %>
                            <p>Price : </p><p>&dollar; <%= useComma(items[i].productPrice * items[i].quantity) %></p>
                        <% } %>
                    </section>
                    <p><%= userAdd.address  %></p>
                    <p><%= userAdd.phoneNo  %></p>
                    <p><%= userAdd.landmark  %></p>
                    <p><%= user.userName  %></p>
                    <p><%= user.email  %></p>

                    
                </section>
            <% } else { %>
                <section class="orderItems">
                    <p><%= items[i].productName %></p>
                    <section class="orderItemsFlex">
                        <img src="<%= items[i].productImage %>" alt="My Cart">
                        <p><%= items[i].productDescription %></p>
        
                        <p><%= items[i].quantity %></p>
        
                         <% if(items[i].quantity === 1 ) { %>
                            <p>&dollar;<%= useComma(items[i].productPrice)  %></p>
                        <% } else { %>
                            <p>&dollar; <%= useComma(items[i].productPrice * items[i].quantity) %></p>
                        <% } %>
                    </section>
                </section>
                <p>No address found
                </p>
            <% } %>
                
          
        <% } %>

       
    

<% } %>

<% console.log(items.length) %>


<%- include('../partials/admin/footer.ejs') %>