<%- include('./partials/homeHeader.ejs') %>

<%- include('./partials/loggedUser.ejs') %>

<% const subtotal =  Orders.map(item => item.quantity > 1 ? item.productPrice *= item.quantity : item.productPrice).reduce((acc,c) => acc + c, 0) %>

<% if(Orders.length < 1) { %>

    <section class="text-center">
        <p>You don't have any Item on your Cart</p>
        <a href="/">Start Shopping Now</a>
    </section>

<% } else { %>
    <section class="orderPage">
        <section class="orderData">     
            <% function useComma(price) { %>
                <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
            <% } %>

          


    <% Orders.forEach(item => { %>
            <section class="orderItems">
                <p><%= item.productName %></p>
                <section class="orderItemsFlex">
                    <img src="<%= item.productImage %>" alt="My Cart" id="orderImage">
                        <p><%= item.productDescription %></p>

                    <!-- using method override to update the quality  -->
                    
                        <form action="/order/minus/<%= item._id %>?method=PUT" method="POST">
                            <button type="submit"><i class="fa-solid fa-minus addButtonOrder" ></i></button>
                        </form>

                        <p class="itemQuality"><%= item.quantity %></p>

                        <form action="/order/plus/<%= item._id %>?method=PUT" method="POST">
                        <button type="submit" class="incButton"><i class="fa-solid fa-plus addButtonOrder" ></i></button>
                        </form>
                    
                     <% if(item.quantity === 1 ) { %>
                        <p>&dollar;<%= useComma(item.productPrice)  %></p>
                    <% } else { %>
                        <p>&dollar; <%=  useComma(((item.productPrice) + (item.quantity)) -  item.quantity) %></p>
                    <% } %>
                    
                

                </section>
                <form action="/order/remove/<%= item._id %>?method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-info deleteOrder">DELETE</button>
                </form>
                
            </section>
       
    <% }) %>
        </section>

        <section class="sticky-top orderTotal">
            <div>
                <a class="checkOut" href="/order/checkout">Go to Check Out</a>
            </div>

            <div>
                <p>items</p> <span>500000</span>
                <span>Shipping</span> <p>Free</p>
            
                <span>Subtotal : </span> 
                <p>&dollar;<%=useComma(subtotal) %></p> 
            </div>
            
            
            
        </section>
        

<% } %>
        </section>

          


<%- include('./partials/userFooter.ejs') %>