<%- include('./partials/homeHeader.ejs') %>

<%- include('./partials/confirmCheck.ejs') %>
<% function useComma(price) { %>
    <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>

<% function sendMsg() { %>
    <% setTimeout(() => { %>
    <% console.log('sullivan') %>
<% }, '5000') %>

<% } %>

<% sendMsg() %>

<section class="paymentSection">
    <div class="paymentReview">
        <p>Order Summary</p>
        <section>
            <% const discount = 1200 %>
            <% const utopiaDiscount = 1000 %>

            <section  class="paymentAside">
                <section>
                    <p>Order Total : </p>
                    <p>From Utopia store credit : </p>
                    <p>Payment discount : </p>
                </section>
    
                <section>
                    <p>&dollar;<%= useComma(pamentAmount) %></p>
                    <p>- &dollar; <%= useComma(1200) %></p>
                    <p class="discount">Get discount of - &dollar; <%= useComma(utopiaDiscount) %></p>
                </section>
            </section>
    
            <% const totalPay = (pamentAmount - discount) - utopiaDiscount %>
            <section class="totalPay">
                <p>TOTAL TO PAY : </p> 
                <span>&dollar; <%= useComma(totalPay) %></span>
            </section>
            
        </section>
    
        <p id="payText">YOU WILL PAY WITH : </p>
        <section>
            
            <section>
                <img src="/images/creditCard.png" alt="Credit Card">
            </section>
        </section>
    
        <section>
            <button class="btn btn-primary btn-lg payButton" data-bs-toggle="modal" data-bs-target="#payMethod">PAY NOW : &dollar;<%= useComma(totalPay) %> </button>
        </section>
    </div>
    
</section>

<div class="modal fade" id="payMethod">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><p class="text-info">Thanks For Your Patronage</p></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <p>Accept Our thanks for trusting us. Your Order have been made and payment confirmed. Be checking your status progress on your dashboard to keep track of your orders</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <a href="/" role="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</a> -->
          <a href="/" class="btn btn-outline-primary">Back Home <%= user.userName %></a>
        </div>
  
      </div>
    </div>
  </div>


<%- include('./partials/userFooter.ejs') %>