<%- include('../partials/homeHeader.ejs') %>

<% if  (user) { %>

<%- include('../partials/loggedUser.ejs') %>

<% } else { %>

  <%- include('../partials/homeNav.ejs') %>

 <% } %> 

<% function useComma(price) { %>
  <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>


      <main class="container-fluid homePage">
          <div class="row">
            <% for(let i = 0; i < utensils.length;  i++) { %>
            <div class="col-md-4">
              <div class="card homeCard" style="width:400px">
                <img class="card-img-top" src="<%= utensils[i].productImage %>" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title"><%= utensils[i].productName %></h4>
                  <p class="card-text"><%= utensils[i].productDescription %></p>
                  <p class="card-text">&#36;<%= useComma(utensils[i].productPrice) %></p>
                  <section class="homeLikes">
                    <p class="card-text">Likes : <%= utensils[i].likes %></p>
                    <form action="/editLike/<%= utensils[i]._id %>?method=PUT" method="POST">
                      <button type="submit" class="btn btn-primary"><i class="fa-solid fa-thumbs-up"></i></span>
                    </form>
                  </section>
                  <% if  (user)  { %>

                    <form action="/products/addUtensils/<%= utensils[i]._id %>" method="POST">

                      <button type="submit" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i></button>

                    </form>
                    
                    <% } else { %>
                     
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-circle-plus"></i></button>
                    
                    <% } %>
                </div>
              </div>
            </div>
            <% } %>
          </div>
      </main>


      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"><p class="text-danger">Warning!!!</p></h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <p>Alert!! You must Login to start adding items to the cart....</p>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>

      

<%- include('../partials/homeFooter.ejs') %>


      
      
